.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    
    form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 5px #B88E2F;
    &:hover {
        transform: scale( 1.1 );
        transition: 0.3s ease-in-out;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        font-size: 16px;

        &:focus {
            border-color: #B88E2F;
        }
    }
    button {
        width: 100%;
        padding: 10px;
        background-color: #B88E2F;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #795605;
    }
    &:active {
        background-color: #cc8eb2;
    }
}
    .logout-button {
        margin-top: 20px;
        width: 100%;
        background-color: #B88E2F;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background-color: #795605;
        }
        &:active {
            background-color: #ee3a3a;
        }
    }
    
}
}